# Node / JavaScript
node_modules/
npm-debug.log*
yarn-error.log*
.next/
.vercel/

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs / Editors
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Environment
.env
.env.*
.env.local

# Build / Test artifacts
build/
dist/
coverage/
.pytest_cache/

# Database files
*.sqlite3
*.db